:root {
  --main-bg-color: rgba(199, 12, 174, 0.705);
  --second-bg-color:#674869
}

body,
html {
  padding: 0px;
  margin: 0;
}
.footer p {
  color: #ffffff;
  text-align: center;
  padding-top: 2%;
}

body {
  font-family: 'Raleway', sans-serif;
  margin-top:70px;
}
a,
a:hover {
  text-decoration: none;
}
a{
    text-decoration:ffffff;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
/*header*/
/* .header {
  background-color: var(--main-bg-color);
  height: 70px;
  line-height: 70px;
} */
.navbar{
    background-color: var(--main-bg-color); 
    /* border: none; */
    color:ffff; 
    height: 70px;
  line-height: 70px;
}

/* .logo {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
} */
.menu {
  float: right;
}
.menu  #myNavbar>div >ul >li > a {
  color: #ffffff;
  margin-right: 20px;
}
.menu #myNavbar >div >ul >li > a:hover {
  color: #ffffff;
}
/*banniere*/
.banner {
  width: 100%;
  max-width: 100%;
}
.ban {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.ban img {
  width: 100%;
  max-width: 100%;
}
.inner-banner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.inner-banner h1 {
  color: #fff;
  text-shadow: 1px 1px 20px #000000;
}
.inner-banner .btn-custom {
  background-color: var(--main-bg-color);
  color: #fff;
  width: 30%;

  margin: 0 auto;
}
.inner-banner .btn-custom:hover {
  background-color: var(--second-bg-color);
}
/*about*/
.about article h2 {
  text-align: center;
}
#about {
  text-align: center;
  padding-top: 10%;
}
.about article {
  margin-top: 10%;
  margin-bottom: 10%;
}
/*portfolio*/
.separator {
  height: 1px;
  width: 20%;
  border: none;
  box-shadow: none;
  background-color: var(--main-bg-color);
}

.portfolio {
  background-color: #ffffff;
  height: 800px;
  padding-top: 100px;
}

#portfolio {
  text-align: center;
}
.portfolio .item-folio {
  height: 280px;
  /*    background-color:#3498DB; */
  width: 100%;
  max-width: 100%;
}

.footer {
  background-color: rgba(21, 44, 146, 0.288)
}
#contact  {
  text-align: center;
  color: #fff;
}
.contact{
    text-align: center;
  color: #fff;
  width: 25%;
  margin: 0 auto;
}
.contact :hover{
    background-color:var(--main-bg-color);
}
.portfolio img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.portfolio img:hover {
    transform: scale(1.1);
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  }
.btn-primary {
  background-color: var(--main-bg-color);
  border: var(--main-bg-color);
}
.btn-primary:hover {
  background-color: var(--second-bg-color);

}
.competence{
color: #fff;
height: 5%;
text-align: center;
font-size: 35px;
text-shadow: 1px 1px 20px #000000;
}
@media (min-width: 320px) and (max-width: 800.98px) {
    .infoPerso{
        font-size:15px; 
        height: 15%;
text-align: center;
/* font-size: 35px; */
text-shadow: 1px 1px 20px #000000;   
    }
    
    .inner-banner{
            margin-top: -160px;
    }
    .inner-banner .btn-custom {
        display: none;
        }
 }
 /* for samsung s5 */

 @media (min-width: 1024px) and (max-width: 1366.98px) {
    .infoPerso{
        font-size:35px; 
        height: 15%;
text-align: center;
/* font-size: 35px; */
text-shadow: 1px 1px 20px #000000;   
    }
    
    .inner-banner{
            margin-top: -170px;
    }
   
 }
 @media (min-width: 768px) and (max-width: 1024px) {
    .infoPerso{
        font-size:25px; 
        height: 15%;
text-align: center;
/* font-size: 35px; */
text-shadow: 1px 1px 20px #000000;   
    }
    
    .inner-banner{
            margin-top: -250px;
    }
    
 }
 .social{
     align-items: center;
     margin: 0 auto;
     display: flex;
     align-items: center;
 }
 .optMenu :hover{
     background-color:var(--second-bg-color);
 }
 .copyRi{
     color: var(--main-bg-color)
 }


/* .thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;

